<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}The Train System!{% endblock %}</title>

    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {% endblock %}

    {% block javascripts %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 text-upper text-center">
            <h1>The Train System</h1>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-3">
            <ul class="list-unstyled">
                <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ path('trains-list') }}">Trains</a></li>
                <li><a href="{{ path('locomotives-list') }}">Locomotives</a></li>
                <li><a href="{{ path('wagons-list') }}">Wagons</a></li>
            </ul>
        </div>
        <div class="col-9">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

{% block footerJs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>